@page
@model FrontEnd.Pages.Clientes.ListaClientesModel
@{
    Layout = "_LayoutAdmin";
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Gestion de clientes</h2>
</div>
<br>
<div class="row">
    <div class="col-md-7">
        <div class="border contenedor-filtro">
            <form action="get" class="form-inline">
                <div class="form-group col-md-2 text-center">
                    <h3>Filtro</h3>
                </div>
                <div class="form-group col-md-4 text-center">
                    <select id="selectFiltro" asp-for="@Model.CriterioFiltro" class="form-control" onchange="actualizar_form()">
                        <option selected>Todos los registros</option>
                        <option>Por documento</option>
                        <option>Por nombres</option>
                        <option>Por apellidos</option>
                    </select>
                </div>
                <div class="form-group col-md-4 text-center">
                    <input id="inputFiltro" asp-for="@Model.TextoFiltro" type="text" class="form-control">
                </div>
                <div class="form-group col-md-2 text-center">
                    <!--<input type="submit" value="Filtrar" class="btn btn-primary">-->
                    <button id="botonFiltro" type="submit" class="btn btn-primary" asp-route-criterio="@Model.CriterioFiltro" asp-route-filtro="@Model.TextoFiltro">
                        Filtrar
                    </button> 
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 contenedor-btn-agregar">
        <a class="btn btn-success boton-agregar" asp-page="./Agregar">
            <i class="fas fa-user-plus"></i>
            <span class="tooltip">Agregar cliente</span>
        </a>
    </div>
</div>
<br>
<br>
<div class="text-center" >
    <table class="table table-hover">
        <tr>
            <th>Nombre completo</th>
            <th>Documento</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Empresa</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@Model.GetPersona(cliente.PersonaId).Nombre @Model.GetPersona(cliente.PersonaId).PrimerApellido @Model.GetPersona(cliente.PersonaId).SegundoApellido</td>
                <td>@Model.GetPersona(cliente.PersonaId).Documento</td>
                <td>@Model.CalcularEdad(Model.GetPersona(cliente.PersonaId).FechaNacimiento)</td>
                <td>@cliente.Telefono</td>
                <td>@Model.GetNombreEmpresa(Model.GetPersona(cliente.PersonaId).EmpresaId)</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./Detalles" asp-route-IdCliente="@cliente.Id">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning table-btn" asp-page="./Modificar" asp-route-IdCliente="@cliente.Id">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger table-btn" asp-page="./Eliminar" asp-route-IdCliente="@cliente.Id">
                        <i class="fas fa-user-times"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <br>
    <h5>Existen @Model.Clientes.Count() Clientes en la base de datos</h5>
</div>

