@page
@model FrontEnd.Pages.Empleados.EliminarModel
@{
    Layout = "_LayoutAdmin";
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Eliminar empleado</h2>
</div>
<br>
<div class="container border text-center">
    @if (Model.EmpleadoEncontrado)
    {
        <table class="table">
            <tr>
                <th colspan="2">
                    Datos del empleado
                </th>
            </tr>
            <tr>
                <th>Documento:</th>
                <td>@Model.Persona.Documento</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>@Model.Persona.Nombre</td>
            </tr>
            <tr>
                <th>Primer apellido:</th>
                <td>@Model.Persona.PrimerApellido</td>
            </tr>
            <tr>
                <th>Segundo apellido:</th>
                <td>@Model.Persona.SegundoApellido</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento:</th>
                <td>@Model.Persona.FechaNacimiento</td>
            </tr>
            <tr>
                <th>Edad:</th>
                <td>@Model.CalcularEdad(Model.Persona.FechaNacimiento)</td>
            </tr>
            <tr>
                <th>Sueldo bruto:</th>
                <td>@Model.Empleado.SueldoBruto</td>
            </tr>
            <tr>
                <th>Empresa donde trabaja:</th>
                <td>@Model.Empresa.RazonSocial</td>
            </tr>
            <tr>
                <th>Nit de la empresa:</th>
                <td>@Model.Empresa.Nit</td>
            </tr>
        </table>
        <div class="alert alert-warning" role="alert">
            Precaución: Eliminar el registro del empleado es una accion permanente<br>¿Desea eliminar el registro del
            empleado?
        </div>
        <form method="post">
            <div>
                <a class="btn btn-primary table-btn" asp-page="./ListaEmpleados">
                    Cancelar
                </a>
                <input type="submit" value="Eliminar" class="btn btn-danger">
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            No se encontro ese empleado
        </div>
        <br>
        <br>
        <br>
        <div>
            <a class="btn btn-primary table-btn" asp-page="./ListaEmpleados">
                Volver
            </a>
        </div>
    }


</div>